pandas~=2.1.0
dask[complete]~=2023.8.1
python-box[all]~=7.0
ruamel.yaml~=0.17.32
SQLAlchemy~=2.0.20
# psycopg2~=2.9.7
psycopg2-binary~=2.9.7
pymysql~=1.1.0
cryptography~=41.0.3
pytest~=7.4.0
click~=8.1.7
flake8
coverage
black
isort